# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
core/broadcast/*/31337/
core/broadcast/**/dry-run/
core/broadcast
core/deployments

# Docs

# Dotenv file
.env

# SDK specific ignores
sdk/node_modules/
sdk/dist/
sdk/build/
sdk/.env
sdk/.env.local
sdk/.env.development.local
sdk/.env.test.local
sdk/.env.production.local
sdk/npm-debug.log*
sdk/yarn-debug.log*
sdk/yarn-error.log*
sdk/lerna-debug.log*
sdk/.nyc_output
sdk/coverage/
sdk/.coverage/
sdk/.eslintcache
sdk/.parcel-cache/
sdk/.cache/

website/node_modules/
website/.docusaurus/
website/build/
website/.env
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
website/.DS_Store


